$containerMaxWidth: 1920px;
$containerMinWidth: 320px;
$container: 1720px;

$base: 0;
$xs: 360px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1280px;
$xxl: 1536px;

// Theme colors
$primary-color: rgb(21, 21, 21);
$secondary-color: rgb(226, 226, 226);
$accent-color: rgb(246, 155, 3);
