@import "@styles/variables";
@import "@styles/mixin";

.technologies {
  &__section {
    @include adaptive-value("padding-bottom", 210, 80, 1);

    background-color: $primary-color;
  }

  &__container {
    max-width: $container;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__title {
    @include adaptive-value("margin-bottom", 80, 80, 1);
    @include adaptive-value("font-size", 220, 80, 1);

    color: $secondary-color;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $lg) {
      line-height: 90%;
    }
  }

  &__content {
    @include adaptive-value("padding-bottom", 60, 20, 1);
    @include adaptive-value("padding-top", 60, 20, 1);
    @include adaptive-value("padding-left", 60, 20, 1);
    @include adaptive-value("padding-right", 60, 20, 1);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $secondary-color;
    border-radius: 10px;

    @media (width <= 1460px) {
      flex-direction: column;
    }
  }

  &__content-icons {
    display: grid;
    grid-template-rows: repeat(3, 204px);
    grid-template-columns: repeat(3, 204px);

    @media (width <= 1460px) {
      grid-template-rows: repeat(2, 180px);
      grid-template-columns: repeat(3, 180px);
      align-self: center;
    }

    @media (max-width: $md) {
      grid-template-rows: repeat(3, 162px);
      grid-template-columns: repeat(2, 162px);
    }

    @media (width <= 412px) {
      grid-template-rows: repeat(3, 140px);
      grid-template-columns: repeat(2, 140px);
    }
  }

  &__content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border-radius: 50%;

    &--1 {
      grid-row: 1/2;
      grid-column: 1/2;

      @media (width <= 1460px) {
        grid-row: auto;
        grid-column: auto;
      }
    }

    &--2 {
      grid-row: 1/2;
      grid-column: 2/3;

      @media (width <= 1460px) {
        grid-row: auto;
        grid-column: auto;
      }
    }

    &--3 {
      grid-row: 1/2;
      grid-column: 3/4;

      @media (width <= 1460px) {
        grid-row: auto;
        grid-column: auto;
      }
    }

    &--4 {
      grid-row: 2/3;
      grid-column: 3/4;

      @media (width <= 1460px) {
        grid-row: auto;
        grid-column: auto;
      }
    }

    &--5 {
      grid-row: 2/3;
      grid-column: 2/3;

      @media (width <= 1460px) {
        grid-row: auto;
        grid-column: auto;
      }
    }

    &--6 {
      grid-row: 3/4;
      grid-column: 3/4;

      @media (width <= 1460px) {
        grid-row: auto;
        grid-column: auto;
      }
    }
  }
}

.content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media (width <= 1460px) {
      margin-bottom: 40px;
      column-gap: 40px;
    }

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__btn {
    padding: 14px 24px;
    color: $primary-color;
    line-height: 150%;
    background-color: $secondary-color;
    border: 1px solid rgba(21, 21, 21, 0.2);
    border-radius: 35px;

    &._active {
      color: $secondary-color;
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  &__heading {
    @include adaptive-value("font-size", 140, 60, 1);

    font-weight: 800;
    line-height: 140%;
    text-transform: uppercase;

    @media (width <= 1460px) {
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__text {
    max-width: 400px;
    color: $primary-color;

    p {
      line-height: 170%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media (width <= 1460px) {
      max-width: 600px;
      margin-bottom: 40px;
    }
  }
}
