@import "@styles/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $secondary-color;
}

.main {
  flex: 1 1 auto;
  color: rgb(0, 0, 0);
}

.footer {
  color: rgb(0, 0, 0);
}
