@import "@styles/variables";
@import "@styles/mixin";

.wedo {
  &__section {
    @include adaptive-value("padding-bottom", 200, 200, 1);

    background-color: $primary-color;
  }

  &__heading {
    position: relative;
    bottom: -140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $container;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;

    @media (max-width: $lg) {
      bottom: 0;
      flex-direction: column-reverse;
      align-items: start;
      padding-top: 60px;
      padding-bottom: 40px;
    }
  }

  &__heading-little-inspire-phrase {
    max-width: 200px;
    color: $secondary-color;
    line-height: 150%;

    @media (max-width: $lg) {
      position: absolute;
      bottom: -60px;
      max-width: 160px;
    }
  }

  &__heading-title {
    @include adaptive-value("font-size", 100, 60, 1);

    color: $secondary-color;
    font-weight: 800;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__content {
  }

  &__item {
    position: relative;
  }

  &__scope {
    @include adaptive-value("font-size", 260, 80, 1);

    position: relative;
    bottom: -30px;
    max-width: $container;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgba(226, 226, 226, 0.03);
    font-weight: 900;
    text-transform: uppercase;

    @media (max-width: $lg) {
      bottom: -15px;
    }
  }

  &__branches {
    position: relative;
    z-index: 2;
    background-color: $primary-color;

    @media (max-width: $lg) {
      position: relative;
      z-index: 5;
      background-color: $primary-color;
    }
  }

  &__branch-wrapper {
    position: relative;
    color: $secondary-color;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__branch {
    @include adaptive-value("padding-top", 30, 26, 1);
    @include adaptive-value("padding-bottom", 40, 30, 1);

    position: relative;
    max-width: $container;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__branch-hover {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    transform: translate(0, -50%);
  }

  &__branch-hover-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: $container;
    height: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__branch-hover-title {
    text-align: right;
  }

  &__branch-description {
    max-width: 350px;
  }

  &__branch-title {
    @include adaptive-value("font-size", 70, 36, 1);

    font-weight: 800;
    line-height: 120%;

    @media (max-width: $lg) {
      font-weight: 700;
    }
  }
}
